html,
body {
    margin: 0;
}

html {
    background-color: #ffe6ac;
    padding:0px;
    margin:0px;
    font-family: Arial;
}

@media screen and (max-width: 480px) {

    html{
        width: 1412px;
    }

    .oktest {

        padding: 14px;

        background-color: #222222;

        display: grid;

    }

    .oktest ul {
        display: grid;
        list-style-type:none;
        width: auto;
        padding:0px;
        margin:0px;
    }

    .oktest ul li {
        text-align: center;
        color: #c78b07;
        padding: 14px;
    }
    .logo-header {
        background-color:  #c78b07;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .logo {
        width:199px;
    }

    #current {
        background-color:  #c78b07;
        color: #222222;
    }

    .banner {
        width: 100%;
    }


    .welcome {
        position: relative;
    }

    .welcome .welcome-content{
        position: absolute;
        margin-top: 120px;
        background-color: rgba(0, 0, 0, 0.5);
        padding-left: 14px;
        width:fit-content;
        color: white;
        padding-left: 14px;
        padding-right: 80px;
        
    }

    h1 {
        font-size: 9rem;
        padding-bottom: 0px;
        margin-bottom: 40px;
    }

    .welcome-content p{
        font-size: 2rem;
    }


    .about-us{
        padding: 14px;
    }

    .about-us h2 {
        font-size: 5rem;
    }
    .about-us p {
        font-size: 2rem;
    }
    .pong {
        width:100%;
        margin-bottom: 0px;
    }

    .services{
        padding: 14px;
        background-color: white;
        display: grid;
    }

    .services h2{
        font-size: 5rem;
        padding-bottom: 0px;
    }

    .block  {
        display: grid;
    }

    .block div h3{
        font-size: 3.5rem;
        padding: 0px;
        margin: 0px;
    }

    .block div p {
        font-size: 2rem;
    }

    .block div{
        background-color: #ffe6ac;
        margin: 0px;
        padding: 20px;
        margin-bottom: 14px;
    }

    .block img{
        margin: 0px;
        padding: 0px;
        width:100%;
    }
}

@media screen and (min-width: 480px) {

    .oktest {

        background-color: #222222;

    }

}