html,
body {
    margin: 0;
}

html {
    background-color: #ffe6ac;
    padding:0px;
    margin:0px;
    font-family: 'Arial';
    width: 721px;
}

.heading {

    padding: 14px;

    background-color: #222222;

    display: grid;

}

.heading nav ul {
    display: grid;
    list-style-type:none;
    width: auto;
    padding:0px;
    margin:0px;
}

.heading nav ul li {
    text-align: center;
    color: #c78b07;
    padding: 14px;
    font-size: larger;
}

.logo-header {
    background-color:  #c78b07;
    padding-top: 18px;
    padding-bottom: 18px;
}

.logo {
    width:100px;
}

#current {
    background-color:  #c78b07;
    color: #222222;
}

.search-input{
    height: 30px
}

.banner {
    width: 100%;
}

.welcome {
    position: relative;
}

.welcome .welcome-content{
    position: absolute;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 14px;
    width:fit-content;
    color: white;
    padding-left: 14px;
    padding-right: 80px;
}

h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 4.5rem;
    line-height: 100px;
}

.welcome-content p{
    margin-bottom: 14px;
    line-height: 20px;
    font-size:0.9rem;
}

.connect-button {
    padding: 30px;
    margin-bottom: 14px;
    color: black;
    background-color: #c78b07;
    font-size: 24px;
    border: none;
}

.about-us{
    padding: 14px;
}

.pong {
    width:100%;
    margin-bottom: 0px;
}

.about-us h2{
    font-size: 50px;
    font-weight:700;
    margin-top: 25px;
    margin-bottom: 25px;
}

.about-us p {
    line-height: 20px;
    font-size:0.94rem;
}

.services{
    padding: 14px;
    background-color: white;
    display: grid;
    margin-bottom: 0px;
}

.services h2{
    font-size: 50px;
    margin:0px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.block  {
    display: grid;
}

.block div h3{
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

.block div p {
    line-height: 20px;
    font-size:0.94rem;
}

.block div{
    background-color: #ffe6ac;
    margin: 0px;
    padding: 20px;
    margin-bottom: 14px;
}

.block img{
    margin: 0px;
    padding: 0px;
    width:100%;
}

.service-button {
    padding: 30px;
    margin-bottom: 14px;
    color: white;
    background-color: #222222;
    font-size: 24px;
    border: none;
}

.vision-image {
    width:721px;
    margin: 0px;
}

.vision {
    position: relative;
    margin: 0px;
    background-color: white;
}

.vision .vision-content {
    position: absolute;
    padding: 14px;
    margin: 0px;
    color: white;
}

.vision-content h3{
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.vision-content p{
    line-height: 20px;
    font-size:0.94rem;
}

.vision-button {
    padding: 30px;
    margin-bottom: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    border: #c78b07 solid 1px;
}

.team {
    padding: 14px;
    background-color: white;
    display: grid;
    margin-top: 0px;
    margin-bottom: 0px;
}

.team h2 {
    font-size: 50px;
    margin-top: 22px;
    margin-bottom: 18px;
}

.team img {
    width: 100%;
}

.team .owner-info {
    background-color:  #ffe6ac;
    margin-bottom: 14px;
    padding: 14px;
}

.owner-info h3 {
    font-size: 32px;
    margin: 0px;
}

.owner-info h4 {
    border-bottom: #c78b07 solid 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.owner-info p {
    line-height: 20px;
    font-size:0.94rem;
}

.contact {
    padding: 14px;
    background-color: white;
    margin-bottom: 0px;
}

.contact h2 {
    font-size: 50px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.contact h3 {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.label {
    font-size: 15px;
}

.contact .contact-input {
    height:30px;
    width:686px;
}

.contact .message-input {
    width:686px;
    height: 150px;
}

.send-button {
    background-color: #222222;
    color: #c78b07;
    font-size: 24px;
}

.operation-hours {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 15px;
    border: black solid 1px;
    margin:0px;
}

th {
    background-color: #ffe6ac;
}

iframe {
    width: 100%;
}

footer {
    background-color: #222222;
    padding: 14px;
    color: #c78b07;
}

@media screen and (min-width: 480px) {

    html {

        background-color: #222222;
        width: 1455px;
        margin-left: auto;
        margin-right: auto;
    }

    .heading {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: auto;
        width: 1200px;
    }

    .heading nav ul {
        display: flex;
        justify-content: space-between;
    }

    .logo-header {
        background-color: #222222;
        padding: 0px;
        margin: 0px;
    }

    .services .grid-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 14px;
    }

    .services .grid-1 .block:nth-child(1) {
        grid-column: 1/2;
    }
    .services .grid-1 .block:nth-child(2) {
        grid-column: 2/3;
    }

    .services .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;
    }

    .services .grid-2 .block:nth-child(1) {
        grid-column: 1/2;
    }
    .services .grid-2 .block:nth-child(2) {
        grid-column: 2/3;
    }
    .services .grid-2 .block:nth-child(3) {
        grid-column: 3/4;
    }

    .team-grid {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .team .team-grid .owner-grid:nth-child(1){
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .team .team-grid .owner-grid:nth-child(2){
        grid-row: 1/2;
        grid-column: 2/3;
        margin-bottom: 0px;
    }

    .team .team-grid .owner-grid:nth-child(3){
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .team .team-grid .owner-grid:nth-child(4){
        grid-row: 2/3;
        grid-column: 1/2;
        margin-bottom: 0px;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
    }

    .contact .block:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/3;
        margin-bottom: 40px;
    }
    .contact .block:nth-child(2){
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .contact .block:nth-child(3){
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .about-us {
        background-color: #ffe6ac;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 14px;
    }

    .about-us .block:nth-child(1) {
        grid-column: 1/2;
    }

    .about-us .block:nth-child(2) {
        grid-column: 2/3;
    }
}