html,
body {
    margin: 0;
}

html {
    background-color: #ffe6ac;
    padding:0px;
    margin:0px;
    font-family: 'Arial';
    width: 721px;
}

.oktest {

    padding: 14px;

    background-color: #222222;

    display: grid;

}

.oktest nav ul {
    display: grid;
    list-style-type:none;
    width: auto;
    padding:0px;
    margin:0px;
}

.oktest nav ul li {
    text-align: center;
    color: #c78b07;
    padding: 14px;
    font-size: larger;
}

.logo-header {
    background-color:  #c78b07;
    padding-top: 18px;
    padding-bottom: 18px;
}

.logo {
    width:100px;
}

#current {
    background-color:  #c78b07;
    color: #222222;
}

.banner {
    width: 100%;
}


.welcome {
    position: relative;
}

.welcome .welcome-content{
    position: absolute;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 14px;
    width:fit-content;
    color: white;
    padding-left: 14px;
    padding-right: 80px;
}

h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 4.5rem;
    line-height: 100px;
}

.welcome-content p{
    margin-bottom: 14px;
    line-height: 20px;
    font-size:0.9rem;
}

.about-us{
    padding: 14px;
}

.pong {
    width:100%;
    margin-bottom: 0px;
}

.about-us h2{
    font-size: 50px;
    font-weight:700;
    margin-top: 25px;
    margin-bottom: 25px;
}

.about-us p {
    line-height: 20px;
    font-size:0.94rem;
}

.services{
    padding: 14px;
    background-color: white;
    display: grid;
    margin-bottom: 0px;
}

.services h2{
    font-size: 50px;
    margin:0px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.block  {
    display: grid;
}

.block div h3{
    font-size: 35px;
    padding: 0px;
    margin: 0px;
}

.block div p {
    line-height: 20px;
    font-size:0.94rem;
}

.block div{
    background-color: #ffe6ac;
    margin: 0px;
    padding: 20px;
    margin-bottom: 14px;
}

.block img{
    margin: 0px;
    padding: 0px;
    width:100%;
}

.vision-image {
    width:721px;
    margin: 0px;
}

.vision {
    position: relative;
}

.vision .vision-content {
    position: absolute;
    padding: 14px;
    margin: 0px;
    color: white;
}

.vision-content h3{
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.vision-content p{
    line-height: 20px;
    font-size:0.94rem;
}

.team {
    padding: 14px;
    background-color: white;
    display: grid;
    margin-bottom: 0px;
}

.team img {
    width: 100%;
}

@media screen and (min-width: 480px) {

    .oktest {

        background-color: #222222;

    }

}